# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin to get rid of the .class files
bin

.classpath
.project
org.eclipse.buildship.core.prefs
